{% extends "app/layout.html" %}

{% block content %}

<section class="banner" id="sanangelobanner">
    <div class="container">
        <h1 class="text-center"><strong>San Angelo Neighborhood Development</strong></h1>
    </div>
</section>

<div class="container body-content">
    <section class="project-info">
        <div class="container">
            <p class="project-p">
                In San Angelo, TX we are currently developing 20 acres of land to be used for a residential development.
            </p>

            <p class="project-p">
                When we first started this projects there was only trees and bushes on the 20 acre property. Our crew has been working on developing the site, installing the infrastructure necessary for a modern neighborhood. 
            </p>
        </div>
    </section>

    <section class="atwork">
        <div class="container">
            <h2>Before</h2>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">

                </div>
            </div>

            <h2>Our Team At Work</h2>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684055032?h=0ef87cc37c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute; top:0;left:0;width:100%;height:100%; margin: auto;" title="IMG_0281[1]"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </section>


</div>

{% endblock %}
