{% extends "app/layout.html" %}

{% block content %}

<div class="container body-content">
<h1>Our Commercial Construction Projects</h1>

    <section class="project">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="" class="project-img" alt="" />

                </div>
                <div class="col-md-8">
                    <h2 class="text-center">Retention Pond</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="project">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="" class="project-img" alt="" />

                </div>
                <div class="col-md-8">

                </div>
            </div>
        </div>
    </section>

    <section class="project">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="" class="project-img" alt="" />

                </div>
                <div class="col-md-8">

                </div>
            </div>
        </div>
    </section>

    <section class="project">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="" class="project-img" alt="" />

                </div>
                <div class="col-md-8">

                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}
